<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
      <li nz-menu-item routerLink="/">
        <span nz-icon nzType="login" nzTheme="outline"></span>
        <span><strong>Login</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isAdminLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/admin/requests">
        <span nz-icon nzType="bell"></span>
        <span><strong>Requests</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/rooms">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/reports">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span><strong>Report</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isCustomerLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/customer/rooms">
        <span nz-icon nzType="appstore"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/customer/customer_details">
        <span nz-icon nzType="idcard" nzTheme="outline"></span>
        <span><strong>Customer Details</strong></span>
      </li>
      <li nz-menu-item routerLink="/customer/updste_rooms">
        <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
        <span><strong>Update Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/customer/house_keeping">
        <span nz-icon nzType="phone" nzTheme="outline"></span>
        <span><strong>House keeping</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>